############################
# PYTHON
############################
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.swp

.venv/
venv/
env/
ENV/

############################
# ENV VARIABLES
############################
.env
.env.*
*.env

############################
# DATA 
############################
data/
metrics/
mlruns/
*.csv

############################
# MODELS & ARTIFACTS
############################
models/
model/
api/model/
*.joblib
*.pkl
*.onnx

############################
# NOTEBOOK OUTPUTS
############################
notebooks/*.csv
notebooks/*.parquet

############################
# LOGS
############################
logs/
*.log

############################
# DOCKER / CERTIFICATS
############################
deployments/nginx/certs/
api/deployments/nginx/certs/
*.crt
*.key

############################
# MLFLOW
############################
mlruns/
mlartifacts/
mlflow.db

############################
# IDE
############################
.vscode/
.idea/
.DS_Store
**/.DS_Store

############################
# CACHE
############################
.pytest_cache/
.cache/
